.container {
    height: 100%;
    padding: 14px;
    box-sizing: border-box;

    .card {
        box-sizing: border-box;
        height: inherit;
        display: flex;
        flex-direction: column;
    
        .header {
            flex: 1;
        }
    
        .content {
            flex: auto;
            position: relative;
            overflow: auto;
        }
    }

}

