.container {
    height: 100%;
    padding: 14px;
    box-sizing: border-box;

    .card {
        box-sizing: border-box;
        height: inherit;
        display: flex;
        flex-direction: column;
    
        .content {
            flex: 1;
            position: relative;
            overflow: auto;
        }
    }
}

.error {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    height: 100%;
    padding: 16px;
    box-sizing: border-box;

    strong {
        font-size: 20px;
        color: #3f51b5;
    }

    div {
        margin-bottom: 14px;
    }

}